# EditorConfig is awesome: https://EditorConfig.org

# 顶层EditorConfig文件
root = true

# 对于所有文件
[*]
# UNIX换行符
end_of_line = lf

# 文件末尾插入空行
insert_final_newline = true

# 使用utf-8编码
charset = utf-8
