<?xml version="1.0" encoding="utf-8" ?>
<!--* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- The log4j2.xml is a part of project utopia, under MIT License. -->
<!-- See https://opensource.org/licenses/MIT for license information. -->
<!-- Copyright (c) 2021 moe-org All rights reserved. -->
<!--* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="highlight_color">FATAL=Bright red, ERROR=Red, WARN=Yellow, INFO=Black, DEBUG=Blue, TRACE=Cyan</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t] [%highlight{%-5level}{${highlight_color}}] [%logger{36}]:%msg%exception%n"/>
        </Console>

    </Appenders>


    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>


</Configuration>